main{
 flex-direction: row;
 justify-content: center;
 align-items: center;
 gap:60px;
}
.wrapper{
    background-color:  rgba(14, 0, 0, 0.568);
    border:2px solid black;
    width:30vw;
    height: 40vh;
display: flex;
flex-direction: column;
justify-content: center; 
text-align: center;
gap:40px;
margin:20px;
color:white;

}
h3{
    color:rgb(211, 181, 145)
}

#taskbox{

    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

#showbtn{
     background-color: rgb(36, 36, 90);
    color: white;
    border:2px solid white;
    border-radius: 5px;

}
#dashboardbtn{
    
    background-color: rgb(218, 113, 27);
    color: white;
    border:2px solid white;
    border-radius: 5px;
}
#addbtn{


}

#addbtn{

    background-color: rgb(176, 235, 176);
 color: rgb(1, 29, 1);
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 700;
    margin:10px;
}

#addbtn:hover{
transform: scale(1.2);
background-color: rgb(34, 88, 34) ;
 border: 2px solid white;
color: white;
}
#dashboardbtn:hover{
transform: scale(1.2);
background-color: rgb(218, 113, 27) ;
 border: 2px solid white;
color: white;
}

#showbtn:hover{
transform: scale(1.2);
background-color: rgb(36, 36, 90) ;
 border: 2px solid white;
color: white;
}