 .introdiv{

    display: flex;
    flex-direction: row;
    gap:100px;
    justify-content:center ;
    text-align: center;
}

main{
 flex-direction: column;
   


}

.wrapper{

    background-color:  rgba(24, 1, 1, 0.568);
    border:2px solid black;
    width:80vw;
    height: 70vh;
display: flex;
flex-direction: column;
justify-content: center; 
text-align: center;
gap:40px;
margin:20px;

}

   