 .introdiv{

    display: flex;
    flex-direction: row;
    gap:100px;
    justify-content:center ;
    text-align: center;
}

main{
 flex-direction: column;
   


}

.wrapper{

    background-color:  rgba(24, 1, 1, 0.568);
    border:2px solid black;
    width:80vw;
    height: 70vh;
display: flex;
flex-direction: column;
justify-content: center; 
text-align: center;
gap:40px;
margin:20px;

}
h3{
    color: white;
}
div{
    color: rgb(211, 181, 145);
}

.registerbtn{
 background-color:rgb(83, 73, 58);
    color: white;
    border:2px solid white;
    border-radius: 5px;


}

.loginbtn{
 background-color: rgb(83, 73, 58);
    color: white;
    border:2px solid white;
    border-radius: 5px;


}

.registerbtn:hover{

transform: scale(1.2);
background-color:rgb(212, 141, 35) ;
color: white;
}

.loginbtn:hover{

transform: scale(1.2);
background-color:rgb(212, 141, 35) ;
color: white;
}
