.container{
   display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center;
    text-align: center;
    margin:0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: bisque; 
}

.wrapper{ 
 display: flex;
     flex-direction: column;
     justify-content: center;
    align-items: center;
    text-align: center;
    margin:0;
    padding: 0;
    height: 60vh;
    width: 50vw;
     border: 2px solid black;
    border-radius: 5px;
    background-color:rgba(83, 39, 39, 0.664); 

}
.header{

    display: flex;
    margin:10;
    padding:20px;
    border: 2px solid black;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large;
    font-weight: 800;
    height: 3%;
    width: 30%;
    background-color: rgb(224, 133, 21);
    color: white;   
}

#blink {
  animation: blinkEffect 1s infinite;
}

@keyframes blinkEffect {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
.updatebody{

     display: flex;
    flex-direction: row;
    height:auto;
    justify-content: space-evenly;
    width: 50%;
     margin:10px;
     margin-top: 4%;
    padding:20px;
    border:2px solid maroon;
    border-radius: 5px;
    background-color: rgb(241, 215, 175);
}

.addtask{
margin:10px;
    padding:10px;
    border:2px solid black;
    border-radius: 5px;
    background-color: rgb(209, 163, 106);
}
.showtask{
margin:10px;
    padding:10px;
    border:2px solid black;
    border-radius: 5px;
     background-color: rgb(209, 163, 106);

}

#addbutton{
background-color: rgb(176, 235, 176);
 color: rgb(1, 29, 1);
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 700;
    margin:10px;
}
#addbutton:hover{
transform: scale(1.2);
background-color: rgb(34, 88, 34) ;
color: white;

}
#showbtn2{
background-color:rgb(185, 148, 185) ;
 color: rgb(1, 29, 1);
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 700;
    margin:10px;
}
#showbtn2:hover{
    transform: scale(1.2);
background-color:rgb(158, 83, 158) ;
color: white;

}