/* .container{
display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center;
    text-align: center;
    margin:0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: bisque; 

} */

.wrapper{

 display: flex;
     flex-direction: column;
     justify-content: center;
    align-items: center;
    text-align: center;
    margin:0;
    padding: 0;
    height: 60vh;
    width: 50vw;
     border: 2px solid black;
    border-radius: 5px;
    background-color:rgba(83, 39, 39, 0.664); 

}
.container1{
    display:flex;

    width:50%;
}
.updateheader{
    margin:30px;
    padding:10px;
    border: 2px solid black;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large;
    font-weight: 800;
    height: 20%;
    width: 100%;
    background-color: rgb(219, 166, 100);
    color: black;   
}

#blink {
  animation: blinkEffect 1s infinite;
}

@keyframes blinkEffect {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }

}

.updatebox{
    display: flex;
    flex-direction: column;
    height:auto;
    justify-content: space-evenly;
    width: 50%;
     margin:10px;
    padding:20px;
    border:2px solid black;
    border-radius: 5px;
    background-color: rgb(241, 215, 175);


}
.container2{
display:flex;
flex-direction: row;
}

#updatebox{
margin:10px;
    padding:10px;
    border:2px solid black;
    border-radius: 5px;

}

#updatebtn{
background-color: rgb(163, 163, 247);
 color: rgb(1, 29, 1);
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 700;
    margin:10px;

}
#updatebtn:hover{

transform: scale(1.2);
background-color:rgb(65, 65, 138) ;
color: white;
border:2px solid white;
}